<!DOCTYPE html>
<html>
<head>
    <title>Boston House Price Prediction</title>
</head>
<body>
    <h2>Enter House Features</h2>
    <form action="/predict" method="post">
        <!-- Replace with actual feature names -->
        <input type="number" name="CRIM" placeholder="CRIM"><br>
        <input type="number" name="ZN" placeholder="ZN"><br>
        <input type="number" name="INDUS" placeholder="INDUS"><br>
        <input type="number" name="CHAS" placeholder="CHAS (0 or 1)"><br>
        <input type="number" name="NOX" placeholder="NOX"><br>
        <input type="number" name="RM" placeholder="RM"><br>
        <input type="number" name="AGE" placeholder="AGE"><br>
        <input type="number" name="DIS" placeholder="DIS"><br>
        <input type="number" name="RAD" placeholder="RAD"><br>
        <input type="number" name="TAX" placeholder="TAX"><br>
        <input type="number" name="PTRATIO" placeholder="PTRATIO"><br>
        <input type="number" name="LSTAT" placeholder="LSTAT"><br>
        <br>
        <!-- Add all features here -->
        <input type="submit" value="Predict">
    </form>
    <h3>{{ prediction_text }}</h3>
</body>
</html>
